/* Do non-sticky footer */

html {
	position: relative;
	min-height: 100%;
}

footer {
	position: absolute!important;
	bottom: 0;
}



/* Floating desktop menu */

.right.nav.navbar-nav {
	float: left;
}



/* Special styles for PayPay button */

.donate-btn {
	padding: 12px 15px 8px;
}



/* Layout configs */

.buttons {
	margin: 25px 0;
}

.row {
	padding: 0 15px 55px 15px;
}

h2 {
	margin-bottom: 20px!important;
}



/* Styling Field's Controlls */

.label.icon {
	width: 1.7em;
	height: 1.7em;
	margin-left: 1px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
}

.icon.edit-white {
	background-image: url(../img/icon-edit-white.png);
}

.icon.collapse {
	background-image: url(../img/icon-collapse.png);
}

.icon.increase {
	background-image: url(../img/icon-increase.png);
}

.icon.up-white {
	background-image: url(../img/icon-up-white.png);
}

.icon.down-white {
	background-image: url(../img/icon-down-white.png);
}

.icon.delete-white {
	background-image: url(../img/icon-delete-white.png);
}

span.icon {
	width: 1.3em;
	height: 1.3em;
	float: right;
	font-size: 15px;
	margin-left: 1px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
	opacity: .2;
}

span.icon:hover {
	opacity: .5;
}

.icon.edit-black {
	background-image: url(../img/icon-edit-black.png);
}

.icon.up-black {
	background-image: url(../img/icon-up-black.png);
}

.icon.down-black {
	background-image: url(../img/icon-down-black.png);
}

.icon.delete-red {
	background-image: url(../img/icon-delete-red.png);
}



/* Customization for Fields Groups */

.panel.panel-default {
	margin-bottom: 0px!important;
}

.panel-controls {
	padding-bottom: 5px;
}

.panel-controls .label {
	line-height: inherit;
	vertical-align: text-top;
}

.panel-heading .panel-title {
	display: inline-block;
}



/* Drop down checkbox label under delete button */

input[type="checkbox"] + label { 
	display: inline-block;
	margin-bottom: 0;
}



@media (min-width: 768px) {

	/* Floating mobile dropdown menu */

	.right.nav.navbar-nav {
		float: right;
	}



	/* Responsive layout */

	.row {
		padding: 0 20% 55px 20%;
	}
}



/* Responsive TinyMCE */

@media screen and (max-width: 515px) {

	.mce-window {
		max-width: 320px !important;
		left: calc(50% - 160px) !important;
	}
	.mce-window-body {
		max-width: 100% !important;
		min-height: 230px !important;
	}
	.mce-container.mce-panel.mce-abs-layout-item,
	.mce-container.mce-panel.mce-abs-layout-item .mce-container-body.mce-abs-layout {
		max-width: 100% !important;
		min-height: 190px !important;
	}
	.mce-flow-layout-item.mce-btn-group {
		border-left: none !important;
	}
	.mce-panel,
	.mce-panel > .mce-container-body,
	.mce-foot,
	.mce-foot > .mce-abs-layout {
		max-width: 320px !important;
	}
	.mce-formitem {
		width: 300px !important;
		left: 10px !important;
		display: block !important;
	}
	.mce-formitem:nth-child(2) {
		top: 10px !important;
	}
	.mce-formitem:nth-child(3) {
		top: 50px !important;
	}
	.mce-formitem:nth-child(4) {
		top: 90px !important;
	}
	.mce-formitem:nth-child(5) {
		top: 130px !important;
	}
	.mce-formitem:nth-child(6) {
		top: 170px !important;
	}
	.mce-container.mce-form.mce-abs-layout-item .mce-container-body.mce-abs-layout .mce-container.mce-form.mce-abs-layout-item {
		top: 40px !important;
		left: 0 !important;
		height: 160px !important;
	}
	.mce-formitem label {
		width: 106px !important;
		font-size: 13px !important;
		left: 0px !important;
	}
	.mce-multiline {
		max-width: 290px !important;
	}
	.mce-checkbox {
		top: 40px !important;
		left: 0 !important;
	}
	.mce-label {
		font-size: 13px !important;
	}
	.mce-foot .mce-btn-has-text {
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		display: inline-block !important;
		margin: 10px 5px !important;
	}
	.mce-abs-layout-item input {
		max-width: 150px !important;
	}
	.mce-abs-layout-item.mce-has-open input {
		max-width: 118px !important;
	}

}



/* Styles for File Uploader */

.close-iframe {
	float: right;
	padding: 7px;
}


/* Custom styles */

.unstyle-link {
	color: inherit;
}

.unstyle-link:hover {
	color: inherit;
}